/* Digital Designers 3.0 Framework via https://digitaldesigners.ca */
/* Structure */
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 62.5%/1.5 verdana;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    --primary: gray;
    --secondary: white;
    --light: silver;
    --theme: black;
    --highlight: orange;
  }
  
/* Style */
  html,
  body {
    background: var(--primary);
    color: var(--secondary);
    overflow-y: auto;
    overflow-x: hidden;
    margin: auto;
    width: 100%;
    min-height: 100vh;
  }  
  #wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }   
  #main {
    max-width: 1100px;
    min-height: 100vh;
    padding: 50px 0;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  header,
  footer,
  article,
  section,
  body {
    box-sizing: border-box;
  }
  header {
    top: 0;
    position: fixed;
    border-bottom: solid 2px var(--light);
  }
  footer {
    bottom: 0;
    position: absolute;
    border-top: solid 2px var(--light);
  }
  header,
  footer {
    width: 100%;
    opacity: 0.9;
    color: var(--secondary);
    z-index: 1;
    overflow: hidden;
    background: var(--theme);
    }
    
/* Content */
  h1,
  h2,
  h3 {
    text-align: center;
    padding: 1rem 0 .5rem;
    margin: 0;
  } 
  p {
    font-size: 1.5rem;
    padding: .5rem;
    margin: 0;
  }   
  h1 {
    opacity: .7;
    font-size: 2.5rem;
  }
  h2 {
    opacity: .8;
    font-size: 2rem; 
  } 
  h3 {
    opacity: .8;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-bottom: 2px solid var(--light);
  } 
  a {
    opacity: .8;
    color: var(--secondary);
    text-decoration: none;
  } 
  a:hover {
    opacity: 1.0;
    border-bottom: solid 2px var(--highlight);
  }
  .current {
    color: var(--secondary);
  }  
  li {
    list-style: none;
    font-size: 1.5rem;
  } 
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  article {
    max-width: 1100px;
    padding: 10px;
  }
  section {
    width: 275px;
    padding: 10px;
  }
  section ul {
    text-align: center;
    padding: 10px;
  }
  section h3 {
    border: none;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  img[src$='.jpg'],
  img[src$='.png'] {
    opacity: .9;
    border-radius: 2px;
    border: solid 2px var(--light);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

  img[src$='.png'] {
    margin: auto;
    display: block;
    max-width: 100%;   
  }
  img[src$=".jpg"]:hover,
  img[src$=".png"]:hover { 
    opacity:1; }
   
/* Navigation */  
  nav ul {
    display: flex;
    font-weight: 900;
    justify-content: center;
  }  
  nav li {
    padding: 10px;
  }
   
/* Header & Footer */     
  footer p {
    text-align: left;
    font-size: 1.4rem;
    opacity: .7;
    padding-left: 10px;
  }

/* Pages */
.home,
.thanks,
.error {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
.home p {
  max-width: 700px;
  text-align: center;
}
.fa-street-view,
.fa-address,
.fa-camera,
.fa-person-booth,
.fa-handshake,
.fa-tape,
.fa-laptop-code {
  display: block;
  margin: auto;
  color: var(--light);
  max-width: 400px;
}
.fa-laptop-code {
  padding: 2rem 0;
}
.fa-person-booth,
.fa-handshake {
  margin: 2rem auto;
}
.fa-camera,
.fa-laptop-code,
.fa-tape {
  border-bottom: 20px solid var(--light);
}
.fa-map-marker {
  color: var(--light);
  max-width: 75px;
}
svg:hover {
  color: var(--theme);
  opacity: .5;
}

.service {
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  overflow: hidden;
  justify-content: space-around;
}
.contact {
  max-width: 900px;
}
.card {
  width: 200px;
  padding: 1rem .5rem;
  display: inline-block;
}

.card p {
  padding: 0;
}
.fa-square,
.fa-image,
.fa-portrait,
.fa-book,
.fa-book-open,
.fa-book-reader {
  opacity: .5;
  display: block;
  margin: 2rem auto;
}
.fa-square {
  max-width: 75px;
}
.fa-image,
.fa-portrait {
  max-width: 100px;
}
.fa-book {
  max-width: 50px;
  margin: 2.5rem auto;
}
.fa-book-open {
  max-width: 75px;
}
.fa-book-reader {
  max-width: 90px;
  margin: 1rem auto;
}
.service h2 {
  padding-top: 2rem;
}

.terms h3,
.privacy h3,
.cookies h3,
.questions h3,
.conditions h3 {
  text-align: left;
  padding: 1rem;
  border: none;
}
.terms h2,
.privacy h2,
.cookies h2,
.questions h2,
.conditions h2 {
  padding: 1rem;
}

/* Social */
.form {
  width: 600px;
}
button,
input,
textarea {
  display: block;
  width: 100%;
  height: 3rem;
  border: 0;
  border-radius: 0.5rem;
  background: var(--light);
  color: var(--secondary);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  box-sizing: border-box;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.contact-form-text {
  margin: 0;
  padding: 1rem;
  outline: none;
}
textarea.contact-form-text {
  resize: none;
  height: 10rem;
}
.contact-form-btn {
  text-align: center;
  background: var(--light);
  color: var(--secondary);
  cursor: pointer;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.contact-form-btn:hover {
  background: var(--theme);
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  -ms-transition: 0.4s ease;
  -o-transition: 0.4s ease;
}
.contact-form-text:focus {
  outline: solid 2px var(--theme);
}
input[type="text"]:valid,
input[type="email"]:valid {
  background-color: var(--highlight);
}

.contact h3 {
  padding: 2.5rem 0 .5rem;
}

.contact {
  text-align: center;
}

.contact .last {
  padding-top: 2rem;
}

/* Gallery Display */
.gallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  max-width: 1100px;
  margin: 5px auto;
  padding: 0 5px;
}
.gallery__item {
  align-items: center;
  display: flex;
  justify-content: center;
} 
.gallery__item > img {
  height: 100%;
  object-fit: cover;
  width: 100%;
} 
.gallery__item--hor {
  grid-column: span 2;
} 
.gallery__item--vert {
  grid-row: span 2;
} 
.gallery__item--lg {
  grid-column: span 2;
  grid-row: span 2;
}
    
/* Media Queries */
  @media screen and (max-width: 600px) {
  #main,
  header,
  footer,
  article,
  section {
    width: 100%;
  } 
  #main {
    padding: 25px 0 75px;
  }
  nav li {
    padding: 2px;
  } 
  nav ul {
    justify-content: space-evenly;
  }
  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  .service h1,
  .studio h1 {
    padding-top: 2rem;
  }
  .service p,
  .studio p {
    padding-bottom: 2rem;
  }
  .fa-street-view,
  .fa-address,
  .fa-camera,
  .fa-person-booth,
  .fa-handshake {
  max-width: 225px;
}
  .gallery {
    max-width: 100%;
  }
}
@media all and (orientation: landscape) and (max-height: 600px) {
  #main {
    padding: 25px 0;
  }
footer {
  display: none;
}
}

@media print {
  body {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
  }
  header, footer, nav, svg, form {
    display: none;
  }
}